.home-container {
  position: relative;
  padding: 2rem;
  background: url("https://images.unsplash.com/photo-1602623962632-491f74c9c99f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  height: 100vh;
}

.home-container::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  background-color: rgba(33, 3, 68, 0.5);
  z-index: 1;
}

.home-container > * {
  position: relative;
  z-index: 2; /* ensures text/content sits above overlay */
}


.home-container h2 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin-top: 15%;
  margin-bottom: 0.5rem;
}

.home-container p {
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-bottom: 2rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.feature-card {
  background-color: rgba(30, 162, 238, 0.2);
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: center;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  white-space: nowrap;
}

.feature-card button {
  font-size: 1.2rem;
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

  
