.services-container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  ;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.service-card {
  flex: 1 1 calc(50% - 20px); /* Two cards per row */
  box-sizing: border-box;
}


.service-card {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.service-card:hover {
  transform: scale(1.02);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}