.choice-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.choice-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.choice-card:hover {
  transform: scale(1.05);
}

.choice-image {
  width: 400px;
  height: 200px;
  object-fit: none;
  border-radius: 8px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.choice-card button {
  padding: 10px 20px;
  font-size: 50px;
  background-color:none;
  color: rgb(31, 2, 70);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.choice-card button:hover {
  background-color: #2980b9;
}